<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index.html">Hem</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/Movies.html">Filmer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/Reviews.html">Recensioner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/Account.html">Konto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>